* { 
    text-align: center;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    gap: 5px;
}

a {
    color:rgb(255, 208, 0);
    text-decoration: none;
}

.container {
    background-color: rgb(77, 77, 77);
    padding: 10px;
    width: 90%;
    max-width: 600px;
    place-items: center;
    border-radius: 3px;
    display: grid;
    border: 2px solid white;
}
.card {
    background-color: rgb(117, 117, 117);
    padding: 30px;
    width: 80%;
    border-radius: 3px;
    font-size: clamp(1.5rem,4vw+1rem,3rem);
}
.home {
    background-color: rgb(60, 255, 0);
    padding: 10px;
    width: 87%;
    border-radius: 3px;
    color:black;
    font-size: clamp(1.5rem,4vw+1rem,3rem);
}
.divider {
    width: 100%;
    background-color: white;
    color: white;
    padding: 1px;
    border-radius: 5px;
}
.socialscard {
    background-color: rgb(117, 117, 117);
    padding: 30px;
    width: 80%;
    max-width: 292px;
    border-radius: 3px;
    font-size: clamp(1.5rem,4vw+1rem,3rem);
}
.socials {
    background-color: rgb(39, 39, 39);
    padding: 10px;
    width: 90%;
    max-width: 600px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    place-items: center;
    border: 2px solid white;
}
.play {
    background-color: lime;
    padding: 20px;
    color:black;
    border-radius: 5px;
    font-size: clamp(1.5rem,4vw+1rem,3rem);
}
.download {
    background-color: rgb(0, 110, 255);
    padding: 20px;
    color:black;
    border-radius: 5px;
    font-size: clamp(1.5rem,4vw+1rem,3rem);
}

h1 {
    font-size: clamp(1.5rem,4vw+1rem,3rem);
}
h2 {
    font-size: clamp(1.5rem,4vw+1rem,3rem);
}