body {
    background-color: #000000;
    background-image: url("/static/img/axiom-pattern.png");
    color: white;
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}
#container {
    background-color: #2b2a2a9a;
    flex: 0 1 700px;
    width: 100%;
    max-width: 700px;
    padding: 18px;
    box-sizing: border-box;
}

#tiles {
    display: flex;
    gap: 8px;
}

.tile {
    padding: 18px;
    border: 1px solid #FFFFFF;
}